<!DOCTYPE html>
<html lang="en" data-theme="panelTheme">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- font awesome cdn -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
          integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
          crossorigin="anonymous" referrerpolicy="no-referrer"/>
    <link href="../home.style.css" rel="stylesheet">
    <title>دسته بندی ها</title>
</head>
<body>

<nav class="panel__top-navbar">
    <div class="container">
        <div class="grid grid-cols-2 items-center">
            <div class="top-navbar__right">
                <div class="avatar">
                    <div class="w-16 mask mask-hexagon">
                        <img src="../../assets/images/my-avatar.jpg" alt=""/>
                    </div>
                </div>
                <span class="welcome-message">محسن عزیز خوش آمدید.</span>
                <span class="date-time">
                    امروز شنبه

                    <span>23:44</span>
                    -
                    <span>1401/01/23</span>
                </span>
            </div>
            <div class="top-navbar__left">
                <div class="flex items-stretch">
                    <div class="dropdown dropdown-end">
                        <label tabindex="0" class="btn btn-primary rounded-md text-white">منو</label>

                        <ul tabindex="0"
                            class="dropdown-content menu p-2 shadow bg-base-100 rounded-box w-52 left-0 !right-[unset]">
                            <li><a href="../index.html">صفحه اصلی</a></li>
                            <li><a>خروج از پنل</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</nav>