<div class="panel__right-side">
    <ul class="menu">
        <li><a href="/panel">داشبورد</a></li>
        <li><a href="/panel/posts">مطالب</a></li>
        <li><a href="/panel/categories" class="active">دسته بندی</a></li>
        <li><a href="/panel/comments">نظرات ها</a></li>
        <li><a href="/panel/contact-us-messages">پیام ها</a></li>
        <li><a href="/panel/users">مدیریت کاربران</a></li>
        <li><a href="/panel/settings">تنظیمات</a></li>
    </ul>
</div>