{{>include/header}}

    <div class="fp-wrap">
        <div class="fp-form">
            <form action="#">
                <div class="form-group">
                    <label for="email">ایمیل:</label>
                    <input type="email" name="email" id="email" placeholder="ایمیل">
                </div>

                <div>
                    <button type="submit">ارسال لینک به ایمیل</button>
                </div>
                <div class="mt-5">
                    <a href="#">عضویت</a> | <a href="#">ورود</a>
                </div>
            </form>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="/libs/slick/slick.min.js"></script>
    <script src="/home.script.js"></script>
</body>

</html>