{{>include/header}}

  <div class="container px-4 lg:px-0">
    <div class="logo">
      <img src="/assets/images/logo-single.webp" alt="">
    </div>

    <div class="slide-show">
      <div>
        <img src="/assets/images/slide-1.jpeg" alt="">
      </div>
      <div>
        <img src="/assets/images/slide-2.jpg" alt="">
      </div>
      <div>
        <img src="/assets/images/slide-3.jpg" alt="">
      </div>
    </div>


    <div class="columns-wrap">
      <!-- right side -->
      <div class="contetn__right-side">

        <!-- about -->
        <div class="custom-card">
          <div class="image">
            <img src="/assets/images/profile.jpg" alt="">
          </div>
          <div class="content">
            <h1 class="title">نام تست</h1>
            <h6 class="sub-title">فامیلی تست</h6>
            <p class="mt-3 text-sm leading-relaxed">
              لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است چاپگرها و متون
              بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع
              با هدف بهبود ابزارهای کاربردی می باشد
            </p>
          </div>
          <div class="custom-divider"></div>
          <div class="action">
            <div class="social-media">
              <ul>
                <li><a href="#"><i class="fa-brands fa-facebook-f"></i></a></li>
                <li><a href="#"><i class="fa-brands fa-twitter"></i></a></li>
                <li><a href="#"><i class="fa-brands fa-instagram"></i></a></li>
              </ul>
            </div>
            <a href="single-post.html" title="" class="read-more--one">ادامه مطلب</a>
          </div>
        </div>



        <div class="categories">
          <h2 class="title">دسته بندی</h2>
          <div class="custom-divider"></div>
          <div class="contetn">
            <ul>
              <li>
                <a href="#">
                  <span>کد</span>
                  <span>(12)</span>
                </a>
              </li>

              <li>
                <a href="#">
                  <span>java</span>
                  <span>(12)</span>
                </a>
              </li>

              <li>
                <a href="#">
                  <span>html</span>
                  <span>(12)</span>
                </a>
              </li>

              <li>
                <a href="#">
                  <span>typescript</span>
                  <span>(12)</span>
                </a>
              </li>

              <li>
                <a href="#">
                  <span>کد</span>
                  <span>(12)</span>
                </a>
              </li>
            </ul>
          </div>
        </div>


        <div class="popular-posts">
          <h2 class="title">مطالب محبوب</h2>
          <div class="custom-divider"></div>
          <div class="content">
            <ul>
              <li>
                <a href="single-post.html">
                  <div class="post">
                    <div class="thumbnail">
                      <img src="/assets/images/post-image-1.jpg" alt="">
                    </div>
                    <div class="content">
                      <h2 class="title">عنوان پست عنوان پست عنوان پست عنوان پست عنوان پست</h2>
                      <div class="category-and-date">
                        <span>عنوان</span>/
                        <span>20-01-1401</span>
                      </div>
                    </div>
                  </div>
                </a>
              </li>
              <li>
                <a href="single-post.html">
                  <div class="post">
                    <div class="thumbnail">
                      <img src="/assets/images/post-image-1.jpg" alt="">
                    </div>
                    <div class="content">
                      <h2 class="title">عنوان پست عنوان پست عنوان پست عنوان پست عنوان پست</h2>
                      <div class="category-and-date">
                        <span>عنوان</span>/
                        <span>20-01-1401</span>
                      </div>
                    </div>
                  </div>
                </a>
              </li>

              <li>
                <a href="single-post.html">
                  <div class="post !border-b-0">
                    <div class="thumbnail">
                      <img src="/assets/images/post-image-1.jpg" alt="">
                    </div>
                    <div class="content">
                      <h2 class="title">عنوان پست عنوان پست عنوان پست عنوان پست عنوان پست</h2>
                      <div class="category-and-date">
                        <span>عنوان</span>/
                        <span>20-01-1401</span>
                      </div>
                    </div>
                  </div>
                </a>
              </li>
            </ul>
          </div>
        </div>


        <div class="right-side__social-media">
          <span>ما را دنبال کنید</span>
          <div class="custom-divider"></div>
          <ul>
            <li><a href="#"><i class="fa-brands fa-facebook-f"></i></a></li>
            <li><a href="#"><i class="fa-brands fa-twitter"></i></a></li>
            <li><a href="#"><i class="fa-brands fa-instagram"></i></a></li>
          </ul>
        </div>
      </div>

      <!-- left side -->
      <div class="content__left-side">
        <div class="main-post">
          <div class="thumbnail">
            <img src="/assets/images/post-image-1.jpg" alt="">
          </div>
          <div class="contetn">
            <h1 class="title"><a href="single-post.html">عنوان مطلب</a></h1>
            <div class="category-and-date">
              <span>عنوان دسته بندی</span>/
              <span>20-01-1401</span>
            </div>

            <p>
              لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده از طراحان گرافیک است، چاپگرها و
              متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است، و برای شرایط فعلی تکنولوژی مورد نیاز، و
              کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد، کتابهای زیادی در شصت و سه درصد گذشته حال و آینده،
              شناخت فراوان جامعه و متخصصان را می طلبد، تا با نرم افزارها شناخت بیشتری را برای طراحان رایانه ای علی
            </p>
            <br>
            <p>
              الخصوص طراحان خلاقی، و فرهنگ پیشرو در زبان فارسی ایجاد کرد، در این صورت می توان امید داشت که تمام و دشواری
              موجود در ارائه راهکارها، و شرایط سخت تایپ به پایان رسد و زمان مورد نیاز شامل حروفچینی دستاوردهای اصلی، و
              جوابگوی سوالات پیوسته اهل دنیای موجود طراحی اساسا مورد استفاده قرار گیرد.
            </p>

            <div class="actions">
              <a href="single-post.html" class="read-more">ادامه مطلب</a>
              <ul>
                <li>
                  <a href="#">
                    <i class="fa-solid fa-heart"></i>
                    23
                  </a>
                </li>
                <li>
                  <i class="fa-solid fa-share-nodes"></i>
                  0

                  <ul>
                    <li><a href="#"><i class="fa-brands fa-facebook-f"></i><span>فیس بوک</span></a></li>
                    <li><a href="#"><i class="fa-brands fa-twitter"></i><span>توییتر</span></a></li>
                    <li><a href="#"><i class="fa-brands fa-instagram"></i><span>اینستاگرام</span></a></li>
                  </ul>
                </li>

                <li>
                  <a href="#">
                    <i class="fa-solid fa-comment"></i>
                    5
                  </a>
                </li>
              </ul>
            </div>
          </div>


        </div>

        <div class="posts-wrap">

          <div class="post">
            <div class="thumbnail">
              <img src="/assets/images/post-image-1.jpg" alt="">
            </div>
            <div class="contetn">
              <h1 class="title"><a href="single-post.html">عنوان مطلب</a></h1>
              <div class="category-and-date">
                <span>عنوان دسته بندی</span>/
                <span>20-01-1401</span>
              </div>
              <p>
                الخصوص طراحان خلاقی، و فرهنگ پیشرو در زبان فارسی ایجاد کرد، در این صورت می توان امید داشت که تمام و
                دشواری
                موجود در ارائه راهکارها، و شرایط سخت تایپ به پایان رسد و زمان مورد نیاز شامل حروفچینی دستاوردهای اصلی، و
                جوابگوی سوالات پیوسته اهل دنیای موجود طراحی اساسا مورد استفاده قرار گیرد.
              </p>

              <div class="actions">
                <a href="single-post.html" class="read-more">ادامه مطلب</a>
                <ul>
                  <li>
                    <i class="fa-solid fa-share-nodes"></i>
                    0

                    <ul>
                      <li><a href="#"><i class="fa-brands fa-facebook-f"></i><span>فیس بوک</span></a></li>
                      <li><a href="#"><i class="fa-brands fa-twitter"></i><span>توییتر</span></a></li>
                      <li><a href="#"><i class="fa-brands fa-instagram"></i><span>اینستاگرام</span></a></li>
                    </ul>
                  </li>
                </ul>
              </div>
            </div>
          </div>

          <div class="post">
            <div class="thumbnail">
              <img src="/assets/images/post-image-1.jpg" alt="">
            </div>
            <div class="contetn">
              <h1 class="title"><a href="single-post.html">عنوان مطلب</a></h1>
              <div class="category-and-date">
                <span>عنوان دسته بندی</span>/
                <span>20-01-1401</span>
              </div>
              <p>
                الخصوص طراحان خلاقی، و فرهنگ پیشرو در زبان فارسی ایجاد کرد، در این صورت می توان امید داشت که تمام و
                دشواری
                موجود در ارائه راهکارها، و شرایط سخت تایپ به پایان رسد و زمان مورد نیاز شامل حروفچینی دستاوردهای اصلی، و
                جوابگوی سوالات پیوسته اهل دنیای موجود طراحی اساسا مورد استفاده قرار گیرد.
              </p>

              <div class="actions">
                <a href="single-post.html" class="read-more">ادامه مطلب</a>
                <ul>
                  <li>
                    <i class="fa-solid fa-share-nodes"></i>
                    0

                    <ul>
                      <li><a href="#"><i class="fa-brands fa-facebook-f"></i><span>فیس بوک</span></a></li>
                      <li><a href="#"><i class="fa-brands fa-twitter"></i><span>توییتر</span></a></li>
                      <li><a href="#"><i class="fa-brands fa-instagram"></i><span>اینستاگرام</span></a></li>
                    </ul>
                  </li>
                </ul>
              </div>
            </div>
          </div>

          <div class="post">
            <div class="thumbnail">
              <img src="/assets/images/post-image-1.jpg" alt="">
            </div>
            <div class="contetn">
              <h1 class="title"><a href="single-post.html">عنوان مطلب</a></h1>
              <div class="category-and-date">
                <span>عنوان دسته بندی</span>/
                <span>20-01-1401</span>
              </div>
              <p>
                الخصوص طراحان خلاقی، و فرهنگ پیشرو در زبان فارسی ایجاد کرد، در این صورت می توان امید داشت که تمام و
                دشواری
                موجود در ارائه راهکارها، و شرایط سخت تایپ به پایان رسد و زمان مورد نیاز شامل حروفچینی دستاوردهای اصلی، و
                جوابگوی سوالات پیوسته اهل دنیای موجود طراحی اساسا مورد استفاده قرار گیرد.
              </p>

              <div class="actions">
                <a href="single-post.html" class="read-more">ادامه مطلب</a>
                <ul>
                  <li>
                    <i class="fa-solid fa-share-nodes"></i>
                    0

                    <ul>
                      <li><a href="#"><i class="fa-brands fa-facebook-f"></i><span>فیس بوک</span></a></li>
                      <li><a href="#"><i class="fa-brands fa-twitter"></i><span>توییتر</span></a></li>
                      <li><a href="#"><i class="fa-brands fa-instagram"></i><span>اینستاگرام</span></a></li>
                    </ul>
                  </li>
                </ul>
              </div>
            </div>
          </div>

          <div class="post">
            <div class="thumbnail">
              <img src="/assets/images/post-image-1.jpg" alt="">
            </div>
            <div class="contetn">
              <h1 class="title"><a href="single-post.html">عنوان مطلب</a></h1>
              <div class="category-and-date">
                <span>عنوان دسته بندی</span>/
                <span>20-01-1401</span>
              </div>
              <p>
                الخصوص طراحان خلاقی، و فرهنگ پیشرو در زبان فارسی ایجاد کرد، در این صورت می توان امید داشت که تمام و
                دشواری
                موجود در ارائه راهکارها، و شرایط سخت تایپ به پایان رسد و زمان مورد نیاز شامل حروفچینی دستاوردهای اصلی، و
                جوابگوی سوالات پیوسته اهل دنیای موجود طراحی اساسا مورد استفاده قرار گیرد.
              </p>

              <div class="actions">
                <a href="single-post.html" class="read-more">ادامه مطلب</a>
                <ul>
                  <li>
                    <i class="fa-solid fa-share-nodes"></i>
                    0

                    <ul>
                      <li><a href="#"><i class="fa-brands fa-facebook-f"></i><span>فیس بوک</span></a></li>
                      <li><a href="#"><i class="fa-brands fa-twitter"></i><span>توییتر</span></a></li>
                      <li><a href="#"><i class="fa-brands fa-instagram"></i><span>اینستاگرام</span></a></li>
                    </ul>
                  </li>
                </ul>
              </div>
            </div>
          </div>

        </div>


        <div class="pagination">
          <ul>
            <li><a href="#">صفحه قبل</a></li>
            <li class="active"><a href="#">1</a></li>
            <li><a href="#">2</a></li>
            <li><a href="#">3</a></li>
            <li><a href="#">4</a></li>
            <li><a href="#">5</a></li>
            <li><a href="#">6</a></li>
            <li><a href="#">صفحه بعد</a></li>
          </ul>
        </div>

      </div>


      <div class="custom-divider my-10 col-span-12"></div>
      <div class="most-liked-posts-wrap">
        <h2 class="title">مطالب محبوب</h2>
        <div class="most-liked-posts">
          <div>
            <div class="post">
              <div class="thumbnail">
                <img src="/assets/images/post-image-1.jpg" alt="">
              </div>
              <div class="contetn">
                <h1 class="title"><a href="single-post.html">عنوان مطلب</a></h1>
                <div class="category-and-date">
                  <span>عنوان دسته بندی</span>/
                  <span>20-01-1401</span>
                </div>
              </div>
            </div>
          </div>

          <div>
            <div class="post">
              <div class="thumbnail">
                <img src="/assets/images/post-image-1.jpg" alt="">
              </div>
              <div class="contetn">
                <h1 class="title"><a href="single-post.html">عنوان مطلب</a></h1>
                <div class="category-and-date">
                  <span>عنوان دسته بندی</span>/
                  <span>20-01-1401</span>
                </div>
              </div>
            </div>
          </div>

          <div>
            <div class="post">
              <div class="thumbnail">
                <img src="/assets/images/post-image-1.jpg" alt="">
              </div>
              <div class="contetn">
                <h1 class="title"><a href="single-post.html">عنوان مطلب</a></h1>
                <div class="category-and-date">
                  <span>عنوان دسته بندی</span>/
                  <span>20-01-1401</span>
                </div>
              </div>
            </div>
          </div>

          <div>
            <div class="post">
              <div class="thumbnail">
                <img src="/assets/images/post-image-1.jpg" alt="">
              </div>
              <div class="contetn">
                <h1 class="title"><a href="single-post.html">عنوان مطلب</a></h1>
                <div class="category-and-date">
                  <span>عنوان دسته بندی</span>/
                  <span>20-01-1401</span>
                </div>
              </div>
            </div>
          </div>

          <div>
            <div class="post">
              <div class="thumbnail">
                <img src="/assets/images/post-image-1.jpg" alt="">
              </div>
              <div class="contetn">
                <h1 class="title"><a href="single-post.html">عنوان مطلب</a></h1>
                <div class="category-and-date">
                  <span>عنوان دسته بندی</span>/
                  <span>20-01-1401</span>
                </div>
              </div>
            </div>
          </div>

          <div>
            <div class="post">
              <div class="thumbnail">
                <img src="/assets/images/post-image-1.jpg" alt="">
              </div>
              <div class="contetn">
                <h1 class="title"><a href="single-post.html">عنوان مطلب</a></h1>
                <div class="category-and-date">
                  <span>عنوان دسته بندی</span>/
                  <span>20-01-1401</span>
                </div>
              </div>
            </div>
          </div>

          <div>
            <div class="post">
              <div class="thumbnail">
                <img src="/assets/images/post-image-1.jpg" alt="">
              </div>
              <div class="contetn">
                <h1 class="title"><a href="single-post.html">عنوان مطلب</a></h1>
                <div class="category-and-date">
                  <span>عنوان دسته بندی</span>/
                  <span>20-01-1401</span>
                </div>
              </div>
            </div>
          </div>

          <div>
            <div class="post">
              <div class="thumbnail">
                <img src="/assets/images/post-image-1.jpg" alt="">
              </div>
              <div class="contetn">
                <h1 class="title"><a href="single-post.html">عنوان مطلب</a></h1>
                <div class="category-and-date">
                  <span>عنوان دسته بندی</span>/
                  <span>20-01-1401</span>
                </div>
              </div>
            </div>
          </div>

          <div>
            <div class="post">
              <div class="thumbnail">
                <img src="/assets/images/post-image-1.jpg" alt="">
              </div>
              <div class="contetn">
                <h1 class="title"><a href="single-post.html">عنوان مطلب</a></h1>
                <div class="category-and-date">
                  <span>عنوان دسته بندی</span>/
                  <span>20-01-1401</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>


    </div>

  </div>


{{>include/footer}}