{{>include/header}}

    <div class="rp-wrap">
        <div class="rp-form">
            <form action="#">
                <div class="form-group">
                    <label for="password">پسورد جدید:</label>
                    <input type="password" name="password" id="password" placeholder="پسورد">
                </div>

                <div class="form-group">
                    <label for="new_password">تکرار پسورد جدید:</label>
                    <input type="password" name="new_password" id="new_password" placeholder="تکرار پسورد">
                </div>

                <div>
                    <button type="submit">تغییر پسورد</button>
                </div>
                <div class="mt-5">
                    <a href="#">ورود به سایت</a>
                </div>
            </form>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="/libs/slick/slick.min.js"></script>
    <script src="/home.script.js"></script>
</body>

</html>