<footer class="custom-footer">
    <div class="logo">
      <img src="/assets/images/footer-logo.webp" alt="">
    </div>
    <div class="subscribe">
      <div class="my-2">در خبرنامه ما عضو شوید تا از جدید ترین اخبار آگاه شوید.</div>
      <form action="#">
        <input type="email" name="" id="" placeholder="ایمیل">
        <button type="submit">عضویت</button>
      </form>
    </div>
  </footer>


  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="/libs/slick/slick.min.js"></script>
  <script src="/home.script.js"></script>
</body>

</html>