<!doctype html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- font awesome cdn -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
    integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="stylesheet" href="/libs/slick/slick.css">
  <link rel="stylesheet" href="/libs/slick/slick-theme.css">
  <link href="/home.style.css" rel="stylesheet">
  <title>{{pageTitle}}</title>
</head>

<body>
  <nav class="top-navbar">
    <div class="container">
      <div class="grid grid-cols-2 items-center">
        <div class="top-navbar__menu">
          <ul>
            <li>
              <i class="fa-solid fa-bars"></i>
              <ul>
                <li><a href="#">زیر منو 1</a></li>
                <li><a href="#">زیر منو 2</a></li>
                <li><a href="#">زیر منو 3</a></li>
                <li><a href="#">زیر منو 4</a></li>
                <li><a href="#">زیر منو 5</a></li>
              </ul>
            </li>
            <li class="active"><a href="/">خانه</a></li>
            <li><a href="register">عضویت</a></li>
            <li><a href="login">ورود</a></li>
            <li><a href="contact-us">تماس باما</a></li>
          </ul>
        </div>
        <div class="top-navbar__socialmedia">
          <ul>
            <li><a href="#"><i class="fa-brands fa-facebook-f"></i></a></li>
            <li><a href="#"><i class="fa-brands fa-twitter"></i></a></li>
            <li><a href="#"><i class="fa-brands fa-pinterest-p"></i></a></li>
            <li><a href="#"><i class="fa-brands fa-instagram"></i></a></li>
            <li><a href="#"><i class="fa-solid fa-rss"></i></a></li>
          </ul>
          <div class="top-navbar__socialmedia__search">
            <button class="js-search-button"><i class="fa-solid fa-magnifying-glass"></i></button>
            <div class="search-form js-search-form">
              <form action="#">
                <input type="text" name="search" id="search" placeholder="جستجو">
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </nav>