{{>panel/include/header}}

<div class="container pt-20 h-screen panel">
    <div class="grid grid-cols-12 gap-5 py-10">
        {{>panel/include/right-side}}
        <div class="panel__left-side">

            <h4 class="mb-3 font-bold text-xl">آمار سایت</h4>
            <div class="stats stats-vertical lg:stats-horizontal shadow">

                <div class="stat bg-blue-500 text-white">
                    <div class="stat-title text-white opacity-90">تعداد بازدید امروز</div>
                    <div class="stat-value text-center pt-2">56</div>
                </div>

                <div class="stat bg-amber-500 text-white">
                    <div class="stat-title text-white opacity-90">تعداد اعضای جدید</div>
                    <div class="stat-value text-center pt-2">12</div>
                </div>

                <div class="stat bg-red-500 text-white">
                    <div class="stat-title text-white opacity-90">تعداد نظرات جدید</div>
                    <div class="stat-value text-center pt-2">8</div>
                </div>

                <div class="stat bg-emerald-500 text-white">
                    <div class="stat-title text-white opacity-90">تعداد پیغام های جدید</div>
                    <div class="stat-value text-center pt-2">5</div>
                </div>
            </div>

            <div class="divider"></div>

            <h4 class="mb-3 font-bold text-xl">آخرین کاربران عضو شده</h4>
            <div class="overflow-x-auto w-full">
                <table class="table w-full">
                    <!-- head -->
                    <thead>
                    <tr>
                        <th>نام</th>
                        <th>ایمیل</th>
                        <th>تنظیمات</th>
                    </tr>
                    </thead>
                    <tbody>
                    <!-- row 1 -->
                    <tr>
                        <td>
                            <div class="flex items-center space-x-3">
                                <div class="avatar">
                                    <div class="mask mask-squircle w-12 h-12">
                                        <img src="https://api.lorem.space/image/face?hash=92048"
                                             alt="Avatar Tailwind CSS Component"/>
                                    </div>
                                </div>
                                <div>
                                    <div class="font-bold mr-2">نام کاربر</div>
                                </div>
                            </div>
                        </td>
                        <td>
                            test@gmail.com
                        </td>
                        <th>
                            <button class="btn btn-warning btn-xs">مشاهده</button>
                        </th>
                    </tr>
                    <!-- row 2 -->
                    <tr>
                        <td>
                            <div class="flex items-center space-x-3">
                                <div class="avatar">
                                    <div class="mask mask-squircle w-12 h-12">
                                        <img src="https://api.lorem.space/image/face?hash=92310"
                                             alt="Avatar Tailwind CSS Component"/>
                                    </div>
                                </div>
                                <div>
                                    <div class="font-bold mr-2">نام کاربر</div>
                                </div>
                            </div>
                        </td>
                        <td>
                            test@gmail.com
                        </td>
                        <th>
                            <button class="btn btn-warning btn-xs">مشاهده</button>
                        </th>
                    </tr>
                    <!-- row 3 -->
                    <tr>
                        <td>
                            <div class="flex items-center space-x-3">
                                <div class="avatar">
                                    <div class="mask mask-squircle w-12 h-12">
                                        <img src="https://api.lorem.space/image/face?hash=33791"
                                             alt="Avatar Tailwind CSS Component"/>
                                    </div>
                                </div>
                                <div>
                                    <div class="font-bold mr-2">نام کاربر</div>
                                </div>
                            </div>
                        </td>
                        <td>
                            test@gmail.com
                        </td>
                        <th>
                            <button class="btn btn-warning btn-xs">مشاهده</button>
                        </th>
                    </tr>
                    <!-- row 4 -->
                    <tr>
                        <td>
                            <div class="flex items-center space-x-3">
                                <div class="avatar">
                                    <div class="mask mask-squircle w-12 h-12">
                                        <img src="https://api.lorem.space/image/face?hash=77703"
                                             alt="Avatar Tailwind CSS Component"/>
                                    </div>
                                </div>
                                <div>
                                    <div class="font-bold mr-2">نام کاربر</div>
                                </div>
                            </div>
                        </td>
                        <td>
                            test@gmail.com
                        </td>
                        <th>
                            <button class="btn btn-warning btn-xs">مشاهده</button>
                        </th>
                    </tr>
                    </tbody>

                </table>
            </div>

        </div>
    </div>
</div>

</body>
</html>