<!DOCTYPE html>
<html lang="en" data-theme="panelTheme">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- font awesome cdn -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
          integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
          crossorigin="anonymous" referrerpolicy="no-referrer"/>
    <link href='https://cdnjs.cloudflare.com/ajax/libs/froala-editor/4.0.10/css/froala_editor.pkgd.min.css' rel='stylesheet' type='text/css' />
    <link href="/home.style.css" rel="stylesheet">
    <title>مطلب جدید</title>
</head>
<body>
<nav class="panel__top-navbar">
    <div class="container">
        <div class="grid grid-cols-2 items-center">
            <div class="top-navbar__right">
                <div class="avatar">
                    <div class="w-16 mask mask-hexagon">
                        <img src="../../assets/images/my-avatar.jpg" alt=""/>
                    </div>
                </div>
                <span class="welcome-message">محسن عزیز خوش آمدید.</span>
                <span class="date-time">
                    امروز شنبه

                    <span>23:44</span>
                    -
                    <span>1401/01/23</span>
                </span>
            </div>
            <div class="top-navbar__left">
                <div class="flex items-stretch">
                    <div class="dropdown dropdown-end">
                        <label tabindex="0" class="btn btn-primary rounded-md text-white">منو</label>

                        <ul tabindex="0"
                            class="dropdown-content menu p-2 shadow bg-base-100 rounded-box w-52 left-0 !right-[unset]">
                            <li><a href="../index.html">صفحه اصلی</a></li>
                            <li><a>خروج از پنل</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</nav>


<div class="container pt-20 panel">
    <div class="grid grid-cols-12 gap-5 py-10 items-start">
        {{>panel/include/right-side}}
        <div class="panel__left-side">
            <div class="flex flex-col md:flex-row gap-5 items-center justify-between mb-3">
                <h4 class="font-bold text-xl">افزودن مطلب جدید</h4>
            </div>
            <div>
                <form action="#">
                    <div class="mb-5">
                        <label>
                            عنوان مطلب
                            <input type="text" class="input input-bordered w-full mt-1">
                        </label>
                    </div>

                    <div class="mb-5">
                        <label>
                            دسته بندی
                            <select class="select select-bordered w-full mt-1">
                                <option>دسته بندی ۱</option>
                                <option>دسته بندی ۲</option>
                            </select>
                        </label>
                    </div>

                    <div class="mb-5">
                        مطلب
                        <div id="froala-editor"></div>
                    </div>


                    <div class="mb-5">
                        ادامه مطلب
                        <div id="read-more-editor"></div>
                    </div>

                    <div class="mb-5">
                        <label>
                            برچسب ها
                            <input type="text" class="input input-bordered w-full mt-1">
                        </label>
                    </div>

                    <div class="mb-5">
                        <label class="label cursor-pointer justify-start gap-x-5">
                            <span class="label-text">امکان افزودن نظر؟</span>
                            <input type="checkbox" checked="checked" class="checkbox checkbox-primary">
                        </label>
                    </div>

                    <div class="mb-5">
                        <label class="label cursor-pointer justify-start gap-x-5">
                            <span class="label-text">نمایش فقط برای اعضا؟</span>
                            <input type="checkbox" checked="checked" class="checkbox checkbox-primary">
                        </label>
                    </div>


                    <button type="submit" class="btn btn-primary">ایجاد</button>
                    <button type="reset" class="btn btn-error">پاک کردن</button>

                </form>
            </div>
        </div>
    </div>
</div>

<script type='text/javascript' src='https://cdnjs.cloudflare.com/ajax/libs/froala-editor/4.0.10/js/froala_editor.pkgd.min.js'></script>
<script type='text/javascript' src="https://cdnjs.cloudflare.com/ajax/libs/froala-editor/4.0.10/js/languages/fa.min.js"></script>
<script>
    var editor = new FroalaEditor('#froala-editor', {
        language: 'fa',
        height: 200
    });

    var editor = new FroalaEditor('#read-more-editor', {
        language: 'fa',
        height: 300
    });
</script>
</body>
</html>