{{>panel/include/header}}

<div class="container pt-20 h-screen panel">
    <div class="grid grid-cols-12 gap-5 py-10">
        {{>panel/include/right-side}}
        <div class="panel__left-side">
            <div class="flex flex-col md:flex-row gap-5 items-center justify-between mb-3">
                <h4 class="font-bold text-xl">همه کاربران</h4>
            </div>

            <div class="user flex flex-col md:flex-row gap-5 items-center">
                <div class="thumbnail">
                    <div class="avatar">
                        <div class="w-24 mask mask-squircle">
                            <img src="../../assets/images/my-avatar.jpg" />
                        </div>
                    </div>
                </div>
                <div class="info flex flex-col gap-5 grow">
                    <div>نام: mohsen</div>
                    <div>نام خانوادگی: mohseneeee</div>
                    <div>ایمیل: mohsen@gmail.com</div>
                </div>

                <div class="actions flex flex-col gap-5">
                    <a href="#" class="btn btn-primary">تایید کاربر</a>
                    <a href="#my-modal-1" class="btn btn-warning">ویرایش</a>
                    <a href="#my-modal-2" class="btn btn-error">حذف</a>
                </div>
            </div>
            <div class="divider"></div>

            <div class="user flex flex-col md:flex-row gap-5 items-center">
                <div class="thumbnail">
                    <div class="avatar placeholder">
                        <!--<div class="bg-neutral-focus text-neutral-content rounded-full w-12">
                            <span>MX</span>
                        </div>-->
                        <div class="w-24 mask mask-squircle bg-neutral-focus text-neutral-content">
                            <span>Ho</span>
                        </div>
                    </div>
                </div>
                <div class="info flex flex-col gap-5 grow">
                    <div>نام: Hosein</div>
                    <div>نام خانوادگی: Hoseinee</div>
                    <div>ایمیل: hosein@gmail.com</div>
                </div>

                <div class="actions flex flex-col gap-5">
                    <a href="#" class="btn btn-primary">تایید کاربر</a>
                    <a href="#my-modal-1" class="btn btn-warning">ویرایش</a>
                    <a href="#my-modal-2" class="btn btn-error">حذف</a>
                </div>
            </div>
            <div class="divider"></div>

            <div class="user flex flex-col md:flex-row gap-5 items-center">
                <div class="thumbnail">
                    <div class="avatar">
                        <div class="w-24 mask mask-squircle">
                            <img src="https://api.lorem.space/image/face?hash=47449" />
                        </div>
                    </div>
                </div>
                <div class="info flex flex-col gap-5 grow">
                    <div>نام: Sara</div>
                    <div>نام خانوادگی: Fox</div>
                    <div>ایمیل: sara.fox@gmail.com</div>
                </div>

                <div class="actions flex flex-col gap-5">
                    <a href="#" class="btn btn-primary">تایید کاربر</a>
                    <a href="#my-modal-1" class="btn btn-warning">ویرایش</a>
                    <a href="#my-modal-2" class="btn btn-error">حذف</a>
                </div>
            </div>
            <div class="divider"></div>


            <div class="flex flex-col md:flex-row gap-5 items-center justify-between mt-5">
                <div class="btn-group">
                    <button class="btn btn-active !text-white">1</button>
                    <button class="btn">2</button>
                    <button class="btn">3</button>
                    <button class="btn">4</button>
                </div>
            </div>


        </div>
    </div>
</div>


<div class="modal" id="my-modal-1">
    <div class="modal-box">
        <h3 class="font-bold text-lg mb-3">ویرایش کاربر</h3>
        <form action="#" class="flex flex-col gap-5">
            <div>
                <input type="text" placeholder="نام" class="input input-bordered w-full">
            </div>

            <div>
                <input type="text" placeholder="نام خانوادگی" class="input input-bordered w-full">
            </div>

            <div>
                <input type="email" placeholder="ایمیل" class="input input-bordered w-full">
            </div>

            <div>
                <input type="password" placeholder="پسورد" class="input input-bordered w-full">
            </div>
        </form>
        <div class="modal-action">
            <a href="#" class="btn btn-primary">تایید</a>
            <a href="#" class="btn">بستن</a>
        </div>
    </div>
</div>

<div class="modal" id="my-modal-2">
    <div class="modal-box">
        <h3 class="font-bold text-lg">از حذف مطمئن هستید؟</h3>
        <div class="modal-action">
            <a href="#" class="btn btn-error">بله</a>
            <a href="#" class="btn btn-info">خیر</a>
        </div>
    </div>
</div>

</body>
</html>